<body onload="Init()">
<div id="main">
	<div id="top">
	  <!-- <img src="http://www.k9ventures.com/wp-content/themes/k9theme/images/logos/logo90x100.png" alt="K9 Ventures" class="centeredImage"> -->
	  <img src="/images/NotSXSW-cropped.png" alt="!SXSW on Pi Day" class="centeredImage">
	</div>
	



	<!-- Dymo label box code -->
	<div id="wrapper">
	<div id="left">
		  <center>
		    <embed id="DYMOLabelPlugin" width="300" height="200" type="application/x-dymolabel" bgcolor="#303030"/>
		  </center>

	</div>
	<div id="right">
		
		<ol>
			<li><p id="queue_pos_1"></p></li>
			<li><p id="queue_pos_2"></p></li>
			<li><p id="queue_pos_3"></p></li>
			<li><p id="queue_pos_4"></p></li>
			<li><p id="queue_pos_5"></p></li>
			<li><p id="queue_pos_6"></p></li>
		</ol>
        <p class="submit">
	      <input id="guest_submit" name="commit" type="submit" value="Checkin" onclick="PrintLabel()">
	    </p>
        <p class="submit">
	      <input id="guest_skip" name="commit" type="submit" value="Skip Label" onclick="MarkGuestAsPrintedAndReload()">
	    </p>
        <p class="submit">
	      <input id="guest_undo" name="commit" type="submit" value="Undo Last Print" onclick="UndoLastPrint()">
	    </p>

	</div>
	</div>
	
	<div id="dymoform">
	  <center>
	    <form action="" method="post" id="DYMOLabel">
	      <table>
		
		<tr><td align=center colspan=2>
		    <input type=button value="Refresh View" onClick="GetLabelImage()">
		    
		    <tr><td align=right></td>
		      <td></td></tr>
		    
		    <tr><td align=right>Label: <input type=text size="50" maxLenght="100" value="/Users/Shared/DYMO Labels/NotSXSW.label" id="OpenLabelPath"></td>
		      <td><input type=button value="Open Label" onClick="Open()">
			<input type=button value="Save Label" onClick="Save()"></td></tr>

		    <tr><td align=right>File: <input type=text size="50" maxLenght="100" value="/Applications/DYMO Label SDK/SDK Examples/Save.label" id="SaveLabelPath"></td>
		      <td><input type=button value="Save Label As" onClick="SaveAs()"></td></tr>

		    <tr><td align=right>Print Copies: <input type=text size="3" maxLength="3" value="1" id="PrintCopies"></td>
		      <td><input type=button value="Print Label" onClick="Print()"></td></tr>
		    <tr><td align=right>Paper Tray: <select id="PaperTray">
			  <option selected>auto</option>
			  <option>left</option>
			  <option>right</option>
		      </select></td><td></td></tr>
		    <tr><td align=right>Show Print Dialog: <input type=checkbox id="ShowPrintDialog"></td><td>(OS 10.4, 10.5 only)</td></tr>

		    <tr><td valign=top align=right>Printers: <select id="PrinterName"></select></td>
		      <td><input type=button value="Get DYMO Printers" onClick="GetDYMOPrinters()"><br>
			<input type=button value="Set Current Printer" onClick="SetCurrentPrinter()">
			<input type=button value="Get Current Printer" onClick="GetCurrentPrinter()"></td></tr>

		    <tr><td align=right>Paper Tray: <select id="PaperTray2">
			  <option selected>auto</option>
			  <option>left</option>
			  <option>right</option>
			  <option>select</option>
			  <option>undefined</option>
		      </select></td>
		      <td><input type=button value="Get Paper Tray" onClick="GetPaperTray()"></td></tr>

		    <tr><td align=right>MRU: <select id="MRU"></select></td>
		      <td><input type=button value="Get MRU List" onClick="GetMRUList()"></td>
		    </tr>
		    <tr>
		      <td></td>
		      <td><input type=button value="Open" onClick="OpenFromMRU()"></td>
		    </tr>

		    <tr><td align=right>Objects: <select id="ObjectName"></select></td>
		      <td><input type=button value="Get Object Names" onClick="GetObjectNames()"></td></tr>

		    <tr><td align=right>Variable Only: <input type=checkbox id="VariableObjectsOnly"></td>
		      <td></td></tr>

		    <tr><td><table><tr><td valign=top>Object Data:</td><td><textarea rows=10 cols=50 id="ObjectData">Test Test Test</textarea></td></tr></table></td>
		      <td valign=baseline><input type=button value="Get Object Data" onClick="GetObjectData()"><br>
			<input type=button value="Set Object Data" onClick="SetObjectData()"></td></tr>

		    <tr><td align=center colspan=2><input type=button value="Paste" onClick="Paste()">
			<input type=button value="Paste To Object" onClick="PasteToObject()"></td></tr>
		    
	      </table>
	    </form>

	  </center>
	</div>


</div>
<script>
	window.onLoad = Init();
</script>
</body>

